#app {
  .main-container {
    // width: calc(100% - 230px);
    height: 100%;
    overflow-x: hidden;
  }
  .sidebar-container {
    width: 100px;
    background-color: #fff;
    height: 100%;
  }
}
